{% extends "base.html" %}

{% block content %}
  <h1>Create user</h1>

  <form action="{{ url_for('create_user') }}" method="post">
    <div class="field">
      <label for="username">
        Username: 
        <input type="text" name="username" value="{{ request.form['username'] }}" required>
      </label>
    </div>

    <div class="field">
      <label for="password">
        Password: 
        <input type="password" name="password" value="{{ request.form['password'] }}" required>
      </label>
    </div>

    <div class="field">
      <label for="password_confirm">
        Password confirmation: 
        <input
          type="password"
          name="password_confirm"
          value="{{ request.form['password_confirm'] }}"
          required>
      </label>
    </div>

    <button type="submit">Create user</button>
  </form>
{% endblock %}
